h1 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.tab {
  padding-bottom: 20px;
}

.map {
  height: 600px;
}

#map {
  width: 100%;
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#Videos {
  padding: 10px;
}

.profile {
  display: flex;
  padding: 10px;
}

img {
  padding-right: 20px;
}

.textoftweets {
  padding-bottom: 20px;
}
